.custom-player {
  width: 350px;
  background: #121212;
  padding: 20px;
  border-radius: 16px;
  color: white;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #cdb8ff;
}

/* Header */
.player-header h4 {
  margin: 0;
  font-size: 1.1rem;
  color: #cdb8ff;
  text-align: center;
}

/* Play Button */
.play-btn {
  background: #1db954;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 50px;
  font-size: 1.3rem;
  cursor: pointer;
  width: 80px;
  margin: 0 auto;
  transition: background 0.2s ease;
}

.play-btn:hover {
  background: #cdb8ff;
}

/* Progress bar */
.progress-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.85rem;
}
.progress-wrap button{
    background: none;
    border: none;
    color: #cdb8ff;
    font-size: 1.2rem;
    cursor: pointer;
}
.progress-wrap button:hover{
    color: white;
    background: none;
}

.progress-bar {
  width: 100%;
  accent-color: #cdb8ff;
}
.progress-bar:hover {
  color: none;
}

/* Volume */
.volume-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.volume-slider {
  width: 100%;
  accent-color: #cdb8ff;
  cursor: pointer;
}
